{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}

        <h1>Liste des sorties</h1>
        <div class="js-filter">
            <div>
                {% include 'main/_filtres.html.twig' with {formFiltres: formFiltres} %}
            </div>
            <table class="js-filter-content">
                {% include 'main/_sorties.html.twig' with {listeSorties: listeSorties} %}
            </table>
            <div class="js-filter-pagination">
                {% include 'main/_pagination.html.twig' with {listeSorties: listeSorties} %}
            </div>
        </div>
        <br>
        <div>
            <button><a href="{{ path('sortie_ajout') }}" class="ajoutSortie">Créer une sortie</a></button>
        </div>
{% endblock %}
