
body {
   /* background-color: rgba(231, 156, 124, 0.76); */
    background: linear-gradient(#e7d4d4, rgba(238, 132, 85, 0.76));
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

a{
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: #d5c2b8;
}

header{
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.87);
    color: #DDDDDD;
    border-radius: 20px;
}


input,
textarea,
select{
    margin-bottom: 1rem;

}

main{

    padding: 20px;
}

nav ul{
    display: flex;
    list-style: none;
    float: right;
    margin-right: 3rem;
}

nav li{
    margin-right: 1rem ;

}
table{
 min-width: 1200px;
}
th, td{
    padding: 10px;
}
th{
    text-align: left;
}
