*{
    font-family: 'Arima Madurai', cursive;
}

body {
    background: linear-gradient(#ffffff, rgb(203, 129, 96));
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
header{
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.87);
    color: #DDDDDD;
    border-radius: 20px;
}
main{
    flex-grow: 1;
    align-items: center;
}

a{
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: #d5c2b8;
}
input,
textarea,
select{
    margin-bottom: 1rem;
}
main{
    padding: 20px;
}
nav ul{
    display: flex;
    list-style: none;
    float: right;
    margin-right: 3rem;
}
nav li{
    margin-right: 1rem ;

}
table{
 min-width: 1200px;
}
th, td{
    padding: 10px;
}
th{
    text-align: left;
}
#pagination{
    padding: 2rem;

}
.ajoutSortie{

    padding: 1rem;
    border: 1px solid rgba(87, 55, 55, 0.8);
    background-color: rgba(255, 210, 188, 0.76);
    border-radius: 10px;

}